html {
	       height: auto !important; /* ie 6 will ignore this */
       height: 100%;            /* ie 6 will use this instead of min-height */
       min-height: 100%;        /* ie 6 will ignore this */
	
}
body {
	background-color: #cacbc5;
	       height: auto !important; /* ie 6 will ignore this */
       height: 100%;            /* ie 6 will use this instead of min-height */
       min-height: 100%;        /* ie 6 will ignore this */
	
}

.header {
	background-color: #002663;
	color: #F5CF47;
	width:100%;
	margin-top:-10px;
	margin-left:-10px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	position:absolute;
	font-family: 'Quattrocento', serif;
}
.visitor-prompt{
	width:50%;
	margin: 20px auto 20px auto;
}
#listItem {
	background-color: #002663;
	color:#efefef;
	
	-moz-border-radius: 5px;
	border-radius: 5px;
	
	height:50px;
 	padding: 10px;
 	border: 1px solid #dfdf90;
 	
}
#listItem a:link{
	color:white;
}
#listItem a:visited{
	color:grey;
}
#option a:link{
	color: #F5CF47;
}
#option a:visited{
	color: #F5CF47;
}
#option {
	text-align:right;
	float:right;
	margin-right:50px;
}
#logo {
	font-size: 50px;
	margin-bottom:-30px;
}
#logo a:link{
	color: #F5CF47;
}
#logo a:visited{
	color: #F5CF47;
}
#logo a {
	text-decoration:none;
}
#page {
	padding-top: 80px;
		       height: auto !important; /* ie 6 will ignore this */
       height: 100%;            /* ie 6 will use this instead of min-height */
       min-height: 100%;        /* ie 6 will ignore this */

		display: block;
		
    height:auto;

	min-height:100%;
}
#login {
	display: none;
	float:left;
}
#profSearch {
	float:left;
}
#courseSearch {
	float:left;
}
#text {
	font-family: 'Source Sans Pro', sans-serif;
	margin-left:auto;
	margin-right:auto;
	padding-left:50px;
	padding-right:50px;
	padding-top:40px;
	padding-bottom: 20px;
	background-color: #efefef;
	width:80%;
	display: block;
	
	height:auto !important;
	height:100%;
	min-height:100%;
}

.error {
	color: #ff0000;
	background-color: #ffdddd;
	border: 3px solid #ff0000;
	padding: 8px;
	margin: 16px;
}
#main-table {
	margin-left:auto;
	margin-right:auto;
	padding: 10px;
	border-left:2px solid #111111;
	border-right:2px solid #111111;
	height:100%;
	width:750px;
}
.rating{
	background-color: #002663;
	padding: 5px;
    -webkit-border-radius: 50%; -moz-border-radius: 50%;
	color: white;
}