<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<import resource="database/Spring-Course.xml" />
	<import resource="database/Spring-Datasource.xml" />
	<import resource="database/Spring-Professor.xml" />
	<import resource="database/Spring-Review.xml" />
	<import resource="database/Spring-Subject.xml" />
	<import resource="database/Spring-User.xml" />
</beans>
